@keyframes slidein {
  from {
    margin-right: 100%;
    width: 400%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.about {
  background-color: #fdfdfd;
  overflow: hidden;
}

.about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation-duration: 1.5s;
  animation-name: slidein;
}

.about-description {
  width: 500px;
  font-size: 20px;
  text-align: left;
}

.about-img {
  height: 500px;
  border-radius: 30px;
}

.about-me-container {
  height: 250px;
  margin-top: 30px;
  background-color: #0a99ec;
  color: rgba(255, 255, 255, 0.863);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-me-text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
}

.my-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  font-size: 30px;
}

.my-link {
  display: flex;
  align-items: center;
}

.linkedin-logo {
  height: 47px;
  margin-left: -4px;
  margin-right: 6px;
}

.github-logo {
  height: 40px;
}

.github-text {
  margin-left: 10px;
}
