@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.form {
  background-color: #48b7f8;
  padding: 30px;
  height: 100vh;
  margin: 0 auto;
  color: #ffffff;
  overflow: hidden;
  text-align: left;
}

.form-back-link {
  font-size: 20px;
  padding: 5px;
  background-color: rgb(248, 248, 37);
  color: black;
  border-radius: 30px;
}

.form-back-link:hover {
  background-color: #c17aff;
  cursor: pointer;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  animation-duration: 2s;
  animation-name: slidein;
}

.form-img {
  height: 650px;
  border-radius: 30px;
}

.form-title {
  margin-bottom: 20px;
}

.all-inputs-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.height-input-container,
.weight-input-container {
  display: flex;
  margin: 10px 0;
}

.form-input {
  height: 45px;
  font-size: 18px;
}

.form-error-name-input {
  margin: 0;
  color: rgb(150, 4, 4);
}

.form-error-input {
  margin: 0;
  margin-left: 100px;
  text-align: end;
  color: rgb(150, 4, 4);
}

.select-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
}

.form-select {
  width: 270px;
  height: 45px;
  background-color: #efefef;
  height: 45px;
  font-size: 18px;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}

.chosen-temperaments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 300px;
  margin-top: 10px;
}

.name-temperaments {
  margin: 0 10px 10px;
  padding: 5px;
  height: 30px;
  background-color: rgb(248, 248, 37);
  color: black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.delete-temperament {
  height: 20px;
  border-radius: 80%;
  background-color: rgb(227, 3, 3);
  color: #ffffff;
}

.delete-temperament:hover {
  background-color: rgb(50, 49, 49);
  cursor: pointer;
}

.form-error-back {
  margin: 10px;
  padding: 3px 20px;
  width: fit-content;
  border-radius: 30px;
  background-color: rgb(240, 30, 30);
  color: black;
}

.form-succesfully-created {
  margin: 10px;
  padding: 3px 20px;
  width: fit-content;
  border-radius: 30px;
  background-color: rgb(121, 240, 30);
  color: rgb(0, 0, 0);
}

.form-button {
  color: black;
  background-color: rgb(248, 248, 37);
  border-radius: 30px;
  border: none;
  height: 45px;
  font-size: 18px;
  font-weight: 600;
}

.form-button:hover {
  background-color: rgb(37, 248, 69);
  cursor: pointer;
}

.form-button:disabled {
  color: black;
  background: rgb(240, 240, 240);
  border-radius: 30px;
  height: 45px;
}

.danger {
  height: 45px;
  font-size: 18px;
  border: solid 3px rgb(197, 1, 1);
}
