@keyframes slidein {
  from {
    transform: translateX(100%);
    width: 300%;
  }

  to {
    transform: translateX(0%);
    width: 100%;
  }
}

.home {
}

.home-container {
  background-color: #fdfdfd;
  padding-top: 20px;
  animation-duration: 3s;
  animation-name: slidein;
  width: 100%;
  display: grid;
  /* se divide en tres columnas */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
}

.home-filter-bar {
  background-color: #0a99ec;
  width: 100px;
}
