.nav {
  background-color: #0a99ec;
  height: 60px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  font-size: 18px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.863);
  font-weight: bold;
}

a:hover {
  color: rgba(120, 35, 166, 0.578);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

img {
  height: 60px;
}

.page-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

input {
  width: 250px;
  border-radius: 20px;
  height: 33px;
  padding: 0 10px;
  font-size: 15px;
  border: none;
  background-color: #e8eef2;
}
